<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - Marvel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <main class="container">
        <h1>Liste des personnages</h1>
        <a role="button" href="/create">➕ Ajouter un personnage</a>
        <div class="grid liste-personnages">
            {{#personnages}}
                <article>
                    <header>
                        <img src="{{ photo }}" alt="{{ nom }}">
                        <h2>{{ nom }}</h2>
                        <p>Equipe: <b>{{ nom_equipe }}</b></p>
                    </header>
                    <p>{{ description }}</p>
                    <footer>
                        <div class="grid">
                            <a role="button" class="outline secondary" href="/delete/{{ id }}" onclick="return confirm('Êtes-vous sûr ?')">🗑️ Supprimer</a>
                            <a role="button" class="outline secondary" href="/edit/{{ id }}">✏️ Modifier</a>
                        </div>
                    </footer>

                </article>
            {{/personnages}}
        </div>
    </main>

    <a href="./supprimer"></a>
</body>
</html>